    .arena-nav-wrapper .nav-container {
        border: 2px double #fcd34d;
        border-image: none;
        box-shadow: 0 0 10px rgba(252, 211, 77, 0.5);
        transition: border-color 0.3s ease-in-out;
    }
    .arena-nav-wrapper .nav-container:hover {
        border-color: #4dd0e1;
    }
    .arena-nav-wrapper .nav-button {
        background: linear-gradient(to right, #4338ca, #1e1b4b);
        border: 2px double #fcd34d;
        border-top: 1px solid #ffffff;
        border-bottom: 1px solid #ffffff;
        text-shadow: 0 0 8px rgba(252, 211, 77, 0.8);
        transition: all 0.3s ease-in-out;
    }
    .arena-nav-wrapper .nav-button-2v2 {
        background: linear-gradient(to right, #dc2626, #7f1d1d);
    }
    .arena-nav-wrapper .nav-button-3v3 {
        background: linear-gradient(to right, #15803d, #064e3b);
    }
    .arena-nav-wrapper .nav-button-5v5 {
        background: linear-gradient(to right, #8c1dad, #36012d);
    }
    .arena-nav-wrapper .nav-button:hover,
    .arena-nav-wrapper .nav-button-2v2:hover,
    .arena-nav-wrapper .nav-button-3v3:hover,
    .arena-nav-wrapper .nav-button-5v5:hover {
        background: #0078c9;
        color: #fbfbfb;
        transform: scale(1.05);
        text-shadow: none;
        text-decoration: none;
        cursor: var(--hover-wow-gif) 16 16, auto;
    }
    .arena-nav-wrapper .nav-icon {
        width: 24px;
        height: 24px;
        vertical-align: middle;
        margin-right: 8px;
    }